{% extends "qlct_nhom/qlct_nhom.html" %}
{% block content %}
    
      <div class="w3-container w3-card w3-white w3-margin-bottom">
        <h2 class="w3-text-grey w3-padding-16"><i class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>LỊCH SỬ CHI TIÊU</h2>
        <h2 class="w3-text-grey w3-padding-1">  SỐ DƯ HIỆN TẠI: {{ so_du }} </h2>
        {% for chitieu in ds_chitieu %}
          <div class="w3-container">
          <h5 class="w3-opacity"><b>{{chitieu.ten_hoa_don}}</b></h5>
          <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>{{chitieu.thoi_gian_giao_dich}}</h6>
          <h4 class="w3-text-red">{{chitieu.so_tien}}</h4>
          <p>{{ chitieu.ghi_chu }}</p>
          <hr>
        </div>
        {% endfor %}
      </div>

{% endblock content %}