{% extends "qlct_ca_nhan/qlct_canhan.html" %}
{% block content %}

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  </head>
  <body>
    <canvas id="myChart" height="450" width="600" style="margin-top: 30px;"></canvas>
    <div style="margin-top: 50px; margin-left: auto; 
    margin-right: auto;">
    
      <table class="table-hover table " style="color: black; width: 400px;">
        <tbody >
            <tr>
                <td>Total</td>
                <td>-10.000</td>
            </tr>            
        </tbody>
    </table>
  </div>
    <script>
      let ctx = document.getElementById('myChart').getContext('2d');
  
  var data = {
      labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"],
      datasets: [
          {
              label: "Chi tiêu",
              backgroundColor: "red",
              data: [4,3,5,6,7,9,87,0,87,100]
          }
      ]
  };
  
  var myBarChart = new Chart(ctx, {
      type: 'bar',
      data: data,
      options: {
          barValueSpacing: 20,
          scales: {
              yAxes: [{
                  ticks: {
                      min: 0,
                  }
              }]
          }
      }
  });
    </script>
  </body>
</html>

{% endblock %}